{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content%}
{{block.super}}
<div class="container-fluid background text-center">
    <h1 class="font-weight-bold text-center text-dark pt-5 ">The Community <span class="auto-type" style="color: orangered;" ></span></h1>
    <h1 class="nei" >Neighood</h1>
    <br><br>
    {% if request.user.profile.neighbourhood %}
    {%else%}
    <a href="{%url 'hoods'%}" class="btn mt-4 btn-warning pl-4 pr-4 font-weight-bold black">Free Community Sign Up</a>
    {%endif%}
    <br><br><br><br>
    <h3 class="intro1 fs-5 font-weight-bold text-steel" >Alone, we can do so little; together we can do so much <br>
        <span class="text-danger">Hellen Keller</span> 
    </h3>
</div>
<!-- <div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <p class="font-weight-bold hoodapp">Neighood provides a community where people interact. The platform provides a safe environment where hood people can share, get information, and ask questions.</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <p class="community">
                With Community Comes Unity. <br> Neighood is a community established for communities by communities.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div> -->
<div class="container pt-4">
    {% if user.is_authenticated %}
    {%else%}
    <h2 class="font-weight-bold hoodapp text-center">Connect to your online neighborhood community</h2>
    <p class="text-center"><a href="{%url 'register'%}" class="btn mt-4 join pl-4 pr-4 font-weight-bold black">SIGN UP</a></p>
    {%endif%}
   
</div>
{%endblock%}